<!DOCTYPE html>
<html ng-app="meetupApp">
	<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers/meetup-controller.js"></script>
	</head>
	<body>
		<div ng-controller="meetupController">
			 There are {{meetups.length}} meetups
		<ul>
			<li ng-repeat="meetup in meetups">{{meetup.name}}</li>
		</ul>
		<form ng-submit="createMeetup()">
			<input type="text" placeholder="Enter meetup name" ng-model="meetupName"></input>	
			<button type="submit">Add</input>
		</form>
		</div>		
	</body>

</html>