{%extends "base.html"%}
{%block title%}This one's awesome!{%endblock%}
{%block head%}
{{ super() }}
{%endblock%}
{%block content%}
<form method="POST">

<table>
	<tr>
		<td>Address:</td>
		<td><input type="text" name="addr" value="{{apt.addr}}"></td>
	</tr>
	<tr>
		<td>Rent:</td>
		<td><input type="text" name="rent" value="{{apt.rent}}"></td>
	</tr>
	<tr>
		<td>Tel:</td>
		<td><input type="text" name="rent" value="{{apt.tel}}"></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="text" name="rent" value="{{apt.emailaddr}}"></td>
	</tr>
	<tr>
		<td><a href="{{apt.link}}">View</a></td>
		<td><a href="/apts/{{apt.id}}/delete">Delete</a></td>
	</tr>
</table>
	<input type="submit">
</form>
{%endblock%}