{%extends "base.html"%}
{%block title%}All your apts!{%endblock%}
{%block head%}
{{ super() }}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<h1>IAMALIVEEEE</h1>
	<script src="static/map_add.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&v=3.exp&libraries=places,visualization&" async defer></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{%endblock%}
{%block content%}
	<button type="button" class='btn-success' onClick="location.href='/new'"><span class="glyphicon glyphicon-plus"></span> NEW</button>
	<hr>
	<div id="map"></div>
	<div class="form-group">
		<label for="usr">Enter heat map hub:</label>
		<div class='form-group'>
		<input type="text" class="form-control" id="hub-addr-heat">
		<button type="button" class="btn" onClick="updateHeatMap()"> SUBMIT </button>
		<button type="button" class="btn" onClick="clearHeatmap()"> CLEAR </button>
		</div>


    </div>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th onclick="sortTable(0)">#</th>
						<th>Address</th>
						<th onclick="sortTable(2)">Rent</th>
						<th>Action</th>
						<th>Posted</th>
						<th>Last update</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody id="apt_table">
				{% for a in apts %}
				<tr id="row-{{a.id}}">
					<td id="id">{{a.id}}</td>
					<td id="addr">{{a.addr}}</td>
					<td id="rent">${{a.rent}}</td>
					<td>
					<button type="button" class="btn btn-success" onClick="window.open('/apts/{{a.id}}/edit')"><span class="glyphicon glyphicon-envelope"></span> </button>
					<button type="button" class="btn btn-info" onClick="window.open('{{a.link}}')"><span class="glyphicon glyphicon-eye-open"></span> </button>
					<button type="button" class="btn-primary" onClick="location.href='/apts/{{a.id}}/edit'"><span class="glyphicon glyphicon-edit"></span> </button>
					<button type="button" class="btn-danger" onClick="deleteConfirm({{a.id}})"><span class="glyphicon glyphicon-trash"></span> </button>
					</td>
					<td class="datetime">{{a.posted}}</td>
					<td class="datetime">{{a.updated}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{%endblock%}
