{%extends "base.html"%}
{%block title%}New apartment!{%endblock%}
{%block head%}
{{ super() }}
{%endblock%}
{%block content%}
	{{already}}
<form method="POST">
	<table>
		<tr>
			<td>Link:</td>
			<td><input type="text" name="link"></td>
		</tr>
		<tr>
			<td>Rent:</td>
			<td><input type="text" name="rent"></td>
		</tr>
		<tr>
			<td>Address:</td>
			<td><input type="text" name="addr"></td>
		</tr>
		<tr>
			<td>DataDump:</td>
			<td><textarea  name="datadump"></textarea></td>
		</tr>

</table>
<input type="submit">
</form>
{%endblock%}}